*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
body{
    margin: 0;  
    padding: 0;  
    height: 100%;
}
header{
    height: 100px;
    box-shadow: inset rgba(128, 128,128,0.726) 0 1px 3px;
}
.nav{
    display: flex;
    justify-content: space-around;
    height: 100%;
}
.logo {
    width: 56px;
    margin-top: 21px;
    margin-left: 115px;
}
.menu-links{
    display: flex;
    gap: 10px;
    margin-left: 31px;
    list-style: none;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    
}
.menu-links li{
    padding: 6px;
    letter-spacing: 1px;
}
.menu-links li:hover{
    color: #006241;
    cursor: pointer;
}
.signin-links{
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    flex-grow: 2;
    justify-content: end;
    margin-right: 210px;
}
.signin-links li{
    font-weight: bold;
    font-size: 15px;
    position: relative;

}
.signin-links li i{
    padding: 10px;

}
.find-store{
    padding-right: 45px;
}
.find-store:hover{
    color: #006241;
    cursor: pointer;
}
.sign-in{
    color: rgba(0, 0, 0, .87);
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 15em;
    padding: 8px 14px;
    display: flex;
    align-items: center;

}
.sign-in:hover{
    background-color: rgba(119, 119, 119, 0.144);
    cursor: pointer;
}
.join-now{
    background-color: rgba(0, 0, 0, .87);
    color: #ffffff;
    border: 1px solid;
    border-radius: 15em;
    padding: 8px 14px;
    display: flex;
    align-items: center;
}
.join-now:hover{
    background-color: rgb(95, 95, 95);
    cursor: pointer;
}

.container-one{
    display: flex; 
    background-color: #006241;
    margin-top: 31px;
    margin-left: 209px;
    margin-right: 207px;
    
}
.container-one img{
    width: 50%;
    height: 100%;
}
.container-one .text-one{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.text-one h1{
    color: #ffffff;
    font-size: 24px;
}
.text-one p{
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 30px;
}

.button-one{
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #006241;
  border: 1px solid white;
  border-radius: 20em;
  cursor: pointer;
}
.button-one:hover{
    background-color: rgba(119, 119, 119, 0.144);
    cursor: pointer;
}

.container-two{
    display: flex; 
    background-color:  #b2b267;
    margin-top: 31px;
    margin-left: 209px;
    margin-right: 207px;
    
}
.container-two img{
    width: 50%;
    height: 100%;
}
.container-two .text-two{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.text-two h1{
    color: black;
    font-size: 24px;
}
.text-two p{
    color: black;
    letter-spacing: 1px;
    line-height: 30px;
}
.button-two{
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: black;
    background: #b2b267;
    border: 1px solid black;
    border-radius: 20em;
    cursor: pointer;
}
.button-two:hover{
    background-color: rgba(119, 119, 119, 0.144);
    cursor: pointer;
}

.container-three{
    display: flex; 
    background-color:  #e99264;
    margin-top: 31px;
    margin-left: 209px;
    margin-right: 207px;
    
}
.container-three img{
    width: 50%;
    height: 100%;
}
.container-three .text-three{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.text-three h1{
    color: black;
    font-size: 24px;
}
.text-three p{
    color: black;
    letter-spacing: 1px;
    line-height: 30px;
}
.button-three{
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: black;
    background: #e99264;
    border: 1px solid black;
    border-radius: 20em;
    cursor: pointer;
}
.button-three:hover{
    background-color: rgba(119, 119, 119, 0.144);
    cursor: pointer;
}
.container-four{
    display: flex; 
    background-color:  #337481;
    margin-top: 31px;
    margin-left: 209px;
    margin-right: 207px;
    
}
.container-four img{
    width: 50%;
    height: 100%;
}
.container-four .text-four{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.text-four h1{
    color: white;
    font-size: 24px;
}
.text-four p{
    color: white;
    letter-spacing: 1px;
    line-height: 30px;
}
.button-four{
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #337481;
    border: 1px solid white;
    border-radius: 20em;
    cursor: pointer;
}
.button-four:hover{
    background-color: rgba(119, 119, 119, 0.144);
    cursor: pointer;
}
.container-five{
    display: flex; 
    background-color:  #006241;
    margin-top: 31px;
    margin-left: 209px;
    margin-right: 209px;
    
}
.container-five img{
    width: 50%;
    height: 100%;
}
.container-five .text-five{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.text-five h1{
    color: white;
    font-size: 24px;
    font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif
}
.text-five p{
    color: white;
    letter-spacing: 1px;
    line-height: 30px;
}
.button-five{
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #006241;
    border: 1px solid white;
    border-radius: 20em;
    cursor: pointer;
}
.button-five:hover{
    background-color: rgba(119, 119, 119, 0.144);
    cursor: pointer;
}
.offer{
    margin: 70px;
    font-size: 17px; 
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.offer-para a{
    text-decoration: underline;
    cursor: pointer;
}
.offer-para a:hover{
    text-decoration: none;
}
footer{
    box-shadow: inset rgba(128, 128,128,0.726) 0 1px 3px;
}
.footer{
    margin-top: 30px;
    margin-left: 157px;
    padding-top: 30px;
    display: flex;
    justify-content: flex-start;
}
.footer-opt{
    margin-left: 50px;
    width: 185px;
    height: 444px;
} 
.footer-head{
    padding: 30 8px;
    color:   rgba(0, 0, 0, 0.87);
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif ;
    font-size: 19px;
    font-weight: 400;
}
.footer-list  ul{
    list-style: none;
    text-decoration-line: none;
    margin-top: 5px;
}
.footer ul a{
    text-decoration: none;
    color:  rgba(0, 0, 0, .58);
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer ul a li{
    padding-top: 30px;
}

.social{
    margin-top: 65px;
    margin-left: 220px
}
.social a i{
    height: 10px;
    width: 40px;
}
.social a i:hover{
    cursor: pointer;
}
.terms{
    margin-top: 10px;
    margin-left: 180px;
    padding: 20px;
}
.terms a{
    color: black;
    text-decoration: none;
    padding: 20px;
}
.terms a:hover{
    text-decoration: underline;
}
.copyright{ 
    margin-left: 216px;
    margin-bottom: 30px;
}
.copyright h5{
    color: black;
}